:root {
    --primary-light: #E8EDDF;
    --secondary-light: #CFDBD5;
    --accent: #F5CB5C;
    --secondary-dark: #333533;
    --primary-dark: #242423;
}

body {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    font-size: 4rem;
    text-align: center;
    margin: 1em;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1em;
}

dl {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    gap: 1em;
}

dt {
    color: var(--accent);
}

main {
    display: flex;
    gap: 4rem;
    justify-content: center;
    padding: 0 2rem 3rem;
}

#commands {
    flex: 0 0 350px;
    height: max-content;
    position: sticky;
    top: 20vh;
    padding: 2rem;
    border: 1px solid var(--primary-light);
}

.shortcut::after {
    content: ",";
}

#todo-list {
    flex: auto;
    height: max-content;
    max-width: 900px;
    border: 1px solid var(--secondary-light);
}

.todo {
    display: grid;
    grid-template-columns: 50px 1fr;
    min-height: 50px;
    border: 1px solid var(--secondary-dark);

    &-index {
        display: grid;
        place-items: center;
        height: 100%;
        color: var(--accent);
        border-right: 2px solid var(--secondary-dark);
    }

    &-value {
        vertical-align: middle;
        padding: 1rem;
    }
}
