nav {
    border-bottom: 2px solid #f1f1f1;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    padding: 1.2em 0;
    text-transform: uppercase;
    margin-left: 1rem;
    width: calc((100% - 6rem) / 3);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-content: center;
    gap: 2em;
    padding: 1em;
}

img {
    width: 100%;
}